<!DOCTYPE html>
<html>
<head>
  <title><%= theme_name.humanize %></title>
  {{ '<%= "#{theme_name}/all" %>' | asset_url | javascript_include_tag }}
  {{ '<%= "#{theme_name}/all" %>' | asset_url | stylesheet_link_tag }}
  {{ content_for_header }}
</head>
<body>

{{ content_for_layout }}

</body>
</html>